<style>
    tbody > tr:first-child .moveUp {
        display: none;
    }

    tbody > tr:last-child .moveDown {
        display: none;
    }

    .not-editable .editable {
        display: none;
    }

    #mainContentTypeReadOnly .mainContentType + .mainContentType:before {
        content: '>>'
    }
</style>
<div class="container">
    <%
    var rowItemClass = 'col-xs-12';
    var mainContent = mainContentDetail.mainContent;
    var isEditable = false;
    if (mainContent.status == 0 || mainContent.status == 4)
        isEditable = true;
    var debug = false;
    %>
    <div class="hidden">
        <input id="id" value="<%= mainContent.id %>"/>
    </div>
    <% if(debug){ %>
    <pre>
<%= JSON.stringify(mainContentDetail, null, '\t') %>
    </pre>
    <% } %>
    <div class="form-group">
        <div>
            <p>
                <span>创建人:</span><span>
                    <% if(mainContent.id == 0){ %>
                    <%= user.account %>
                    (<%= user.nickname %>#<%= user.id %>)
                    <% }else{ %>
                    <%= mainContent.account %>
                    (<%= mainContent.nickname %>#<%= mainContent.userInfoId %>)
                    <% } %>
                </span>
                <span>类型:</span><span><%= mainContent.typeName || '' %></span>
                <span>状态:</span><span><%= mainContent.statusName || '' %></span>
            </p>

            <% if(mainContent.id){ %>
            <p>
                <span>创建时间:</span><span><%= mainContent.createDate || '' %></span>
                <span>修改时间:</span><span><%= mainContent.operateDate || '' %></span>
                <span>修改人:</span><span><%= mainContent.operator || '' %></span>
            </p>
            <% } %>
        </div>
        <% var col1Class = 'col-xs-2 col-sm-1', col2Class = 'col-xs-10 col-sm-11' %>
        <div class="row my-row">
            <div class="<%= rowItemClass %>">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="<%= col1Class %> control-label text-right">类别</label>

                        <div class="<%= col2Class %>" style="padding-top: 7px">
                            <% if(!mainContent.id){ %>
                            <div id="mainContentType" class="row my-row">
                                <div class="col-xs-2 mainContentType"><select class="form-control"></select></div>
                                <a id="refreshMainContentType" href="javascript:;">刷新</a>
                                <span class="text-danger msg"></span>
                            </div>
                            <% }else{ %>
                            <div id="mainContentTypeReadOnly">
                                <% var mainContentTypeList = mainContentDetail.mainContentTypeList;
                                mainContentTypeList.forEach(function(item, index){ %>
                                <span class="mainContentType">
                                <a href="javascript:;"><%= item.type %><%= item.typeName ? '(' + item.typeName + ')' : '' %></a>
                            </span>
                                <% }) %>
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="<%= col1Class %> control-label text-right">标题</label>

                        <div class="<%= col2Class %>">
                            <% if(isEditable){ %>
                            <input class="form-control" id="title" placeholder="请输入标题"
                                   value="<%= mainContent.title || '' %>"/>
                            <% }else{ %>
                            <label class="control-label"><%= mainContent.title || '' %></label>
                            <% } %>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="<%= col1Class %> control-label text-right">描述</label>

                        <div class="<%= col2Class %>">
                            <% if(isEditable){ %>
                            <textarea class="form-control no-resize" id="description"
                                      placeholder="请输入描述"><%= mainContent.description || '' %></textarea>
                            <% }else{ %>
                            <label class="control-label"><%= mainContent.description || '' %></label>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <% if(isEditable && isHadAuthority('login')){ %>
            <div class="my-row">
                <button id="showMainContentChild" class="btn btn-default">新增</button>
            </div>
            <% } %>
            <table class="table table-bordered <%= isEditable ? '' : 'not-editable' %>">
                <thead>
                <tr>
                    <th>顺序</th>
                    <th>类型</th>
                    <th>内容</th>
                    <th class="editable">操作</th>
                </tr>
                </thead>
                <tbody id="mainContentChildList">
                <% mainContentDetail.mainContentChildList.forEach(function(item){
                    item.stringify = JSON.stringify(item);
                        with(item){
                %>
                <% include ../../_template/mainContent/childItem %>
                <% }
                }) %>
                </tbody>
            </table>
        </div>

        <div class="my-row">
            <label class="control-label">备注</label>
            <textarea class="form-control no-resize" id="remark" placeholder=""></textarea>
        </div>

        <!--操作-->
        <div class="my-row text-center">
            <%
            var operateList = [];
            switch (mainContent.status) {
                case 0:
                case 4:
                    if (isHadAuthority('mainContentSave')
                            && (!mainContent.id || mainContent.userInfoId == user.id)) {
                        operateList.push({
                            text: '保存',
                            operate: 'save',
                            className: 'save'
                        });
                        operateList.push({
                            text: '提交',
                            operate: 'submit',
                            className: 'save'
                        });
                    }
                    break;
                case 1:
                case 2:
                    if (isHadAuthority('mainContentAudit')) {
                        operateList.push({
                            text: '审核',
                            operate: 'audit',
                            className: 'statusUpdate'
                        });
                    }
                    if (isHadAuthority('mainContentPass')) {
                        operateList.push({
                            text: '审核通过',
                            operate: 'pass',
                            className: 'statusUpdate'
                        });
                    }
                    if (isHadAuthority('mainContentNotPass')) {
                        operateList.push({
                            text: '审核不通过',
                            operate: 'notPass',
                            className: 'statusUpdate'
                        });
                    }
                    break;
                case -1:
                    if (isHadAuthority('mainContentRecovery')) {
                        operateList.push({
                            text: '恢复',
                            operate: 'recovery',
                            className: 'statusUpdate'
                        });
                    }
                    break;
            }
            if (mainContentDetail.canDelete) {
                operateList.push({
                    text: '删除',
                    operate: 'del',
                    className: 'statusUpdate'
                });
            }
            operateList.forEach(function(item){ %>
            <button class="btn btn-default <%= item.className %>"
                    data-operate="<%= item.operate %>" data-id="<%= mainContent.id %>">
                <%= item.text %>
            </button>
            <% }); %>
        </div>
        <div>
            <label class="control-label">日志</label>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>类型</th>
                    <th>源状态</th>
                    <th>目状态</th>
                    <th>内容</th>
                    <th>操作人</th>
                    <th>创建时间</th>
                </tr>
                </thead>
                <% mainContentDetail.mainContentLogList.forEach(function(item){ %>
                <tr>
                    <td><%= item.typeName %></td>
                    <td><%= item.srcStatusName %></td>
                    <td><%= item.destStatusName %></td>
                    <td><%= item.content %></td>
                    <td><%= item.operator %></td>
                    <td><%= item.createDate %></td>
                </tr>
                <% }) %>
            </table>
        </div>
    </div>
</div>
<div id="mainContentChild" data-backdrop="false" role="dialog" tabindex="-1" class="modal fade pop-up-box">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button class="close" type="button" data-dismiss="modal">
                    ×
                </button>
                <h4 name="title" class="modal-title">
                </h4>
            </div>
            <div id="mainContentChildDetail" class="modal-body content">
                <div class="hidden">
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">type</label>

                        <div class="col-xs-10">
                            <select class="form-control" name="type">
                                <option value="0">0</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">content</label>

                        <div class="col-xs-10">
                            <textarea class="form-control no-resize" name="content"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div name="footer" class="modal-body">
                <button type="button" class="btn btn-default btn-content" id="addMainContentChild">确认</button>
                <button type="button" class="btn btn-default btn-content" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<script type="text/template" id="mainContentChildItem">
    <% include ../../_template_front/mainContent/childItem %>
</script>
<script type="text/javascript">
	require(['./_main', './moduleMainContent'], function () {
		var main = require('./_main'),
			moduleMainContent = require('./moduleMainContent');
		main.init();
		var opt = {
			operation: ['detailQuery', 'save']
		};
		new moduleMainContent.ModuleMainContent(opt);
	});
</script>