<div class="container">
    <% var rowItemClass = 'col-lg-3 col-md-4 col-sm-6 col-xs-12'; %>
    <div class="form-group">
        <div class="row my-row">
            <%
            var prefix = '';
            var searchItemList = [{
                text: 'id',
                id: 'id',
            }, {
                text: 'user_info_id',
                id: 'user_info_id',
            }, {
                text: 'title',
                id: 'title',
            }, {
                text: 'create_date',
                id: 'create_date',
            }, {
                text: 'operate_date',
                id: 'operate_date',
            }, {
                text: 'operator',
                id: 'operator',
            },];
            for(var i = 0;i < searchItemList.length;i++){
                var item = searchItemList[i];
            %>
            <div class="<%= rowItemClass %>">
                <div class="input-group">
                    <span class="input-group-addon"><%= item.text %></span>
                    <input id="<%= prefix + item.id %>" type="text" class="form-control"/>
                </div>
            </div>
            <% } %>
        </div>
        <div class="row">
            <div name="typeBox" class="col-xs-12">
                <span>类型:</span>
                <% for(var key in mainContentTypeEnum){ %>
                <label><input class="type" type="checkbox" value="<%= key %>"/><%= mainContentTypeEnum[key] %></label>
                <% } %>
            </div>
            <div name="statusBox" class="col-xs-12">
                <span>状态:</span>
                <% for(var key in mainContentStatusEnum){ %>
                <label><input class="status" type="checkbox" value="<%= key %>"/><%= mainContentStatusEnum[key] %>
                </label>
                <% } %>
            </div>
        </div>
        <div class="row my-row">
            <div class="<%= rowItemClass %> col-lg-offset-6 col-md-offset-4">
                <button id="search" class="btn btn-default btn-block">
                    search
                </button>
            </div>
            <div class="<%= rowItemClass %>">
                <button class="btn btn-default btn-block add">
                    add
                </button>
            </div>
        </div>
    </div>
    <div name="statusBox">
        <ul class="nav nav-pills" role="tablist">
            <li class="active">
                <a class="statusSearch" href="javascript:;">全部
                    (<span class="statusCount" data-status="">0</span>)
                </a>
            </li>
            <% for(var key in mainContentStatusEnum){ %>
            <li>
                <a class="statusSearch" href="javascript:;"><%= mainContentStatusEnum[key] %>
                    (<span class="statusCount" data-status="<%= key %>">0</span>)
                </a>
            </li>
            <% } %>
        </ul>
    </div>
    <table id="list" class="table table-bordered">
        <thead>
        <tr>
            <th class="text-center" colspan="100">mainContent</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>id</th>
            <th>类型</th>
            <th>状态</th>
            <th>用户名</th>
            <th>标题</th>
            <th>描述</th>
            <th>创建时间</th>
            <th>操作时间</th>
            <th>操作人</th>
            <th>操作</th>
        </tr>
        </tbody>
        <tbody class="error">
        <tr>
            <td class="text-center" colspan="100" name="errorContent"></td>
        </tr>
        </tbody>
    </table>
    <div id="pager"></div>
</div>
<script type="text/template" id="mainContentItem">
    <% include ../../_template_web/mainContent/listItem %>
</script>
<script type="text/javascript" src="/js/<%= env %>/my.pager.js?v=<%= version %>"></script>
<script type="text/javascript" src="/js/<%= env %>/module.js?v=<%= version %>"></script>
<script type="text/javascript" src="/js/<%= env %>/moduleMainContent.js?v=<%= version %>"></script>
<script type="text/javascript">
    $(function () {
        var opt = {
            operation: ['query']
        };
        var mainContent = moduleMainContent.init(opt);
    });
</script>