<tr class="itemRow">
    <td><%= typeName %></td>
    <td><%= srcStatusName %></td>
    <td><%= destStatusName %></td>
    <td><%= content %></td>
    <td><%= operator %></td>
    <td><%= createDate %></td>
</tr>