<script type="text/javascript" src="/js/jquery-2.1.1.min.js?v=<%=version%>"></script>
<script type="text/javascript" src="/js/jquery.cookie.js?v=<%=version%>"></script>
<script type="text/javascript" src="/js/bootstrap.min.js?v=<%=version%>"></script>
<script type="text/javascript" src="/js/ejs.min.js?v=<%=version%>"></script>
<script type="text/javascript">
    (function(){
        //
        ejs.open = '{%';
        ejs.close = '%}';
    })();
</script>
<script type="text/javascript" src="/js/md5.js?v=<%=version%>"></script>

<script type="text/javascript" src="/js/config.js?v=<%=version%>"></script>
<script type="text/javascript" src="/js/extend.js?v=<%=version%>"></script>
</body>
</html>