<%if(!noNav){%>
<% include ./footer_nav %>
<%}%>
<script type="text/javascript" src="/js/plugin/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/plugin/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/plugin/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/plugin/ejs.min.js"></script>
<script type="text/javascript" src="/js/plugin/md5.js"></script>
<script type="text/javascript" src="/js/plugin/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/plugin/My97DatePicker/WdatePicker.js"></script>

<script type="text/javascript" src="/js/config.js?v=<%=version%>"></script>
<script type="text/javascript" src="/js/<%=env%>/extend.js?v=<%=version%>"></script>
<script type="text/javascript" src="/js/socket.js?v=<%=version%>"></script>

<script type="text/javascript" src="/js/<%=env%>/init.js?v=<%=version%>"></script>
<script type="text/javascript" src="/js/<%=env%>/my.interface.js?v=<%=version%>"></script>
</body>
</html>