<tbody class="itemRow">
<tr>
    <td><%= account %>(<%= nickname || '' %>#<%= id %>)</td>
    <td>
        <% for(var key in auth){ %>
        <div class="label label-info my-label">
            <label><%= key %></label>
        </div>
        <% } %>
    </td>
    <td><%= create_datetime %></td>
    <td><%= edit_datetime || '' %></td>
    <td><%= remark || '' %></td>
    <td>
        <a class="itemDetailQuery" href="javascript:;">详细</a>
    </td>
</tr>
</tbody>