<tbody class="itemRow">
<tr>
    <td><%= account %>(<%= nickname || '' %>#<%= id %>)</td>
    <td>
        <% role_list.forEach(function (t) { %>
        <a class="hover hover-source" href="#hoverTargetUserRole_<%= id + '_' + t.code %>">
            <div class="label <%= t.status == 1 ? 'label-info' : 'label-default' %> my-label">
                <label><%= t.code %></label>
            </div>
        </a>

        <div class="hover hover-target" id="hoverTargetUserRole_<%= id + '_' + t.code %>">
            <div class="hover-role-authority">
                <% t.authority_list.forEach(function (authority) { %>
                <div class="label <%= authority.status == 1 ? 'label-info' : 'label-default' %> my-label">
                    <label><%= authority.code %></label>
                </div>
                <% }); %>
            </div>
        </div>
        <% }); %>
    </td>
    <td>
        <% authority_list.forEach(function (t) { %>
        <div class="label <%= t.status == 1 ? 'label-info' : 'label-default' %> my-label">
            <label><%= t.code %></label>
        </div>
        <% }); %>
    </td>
    <td><%= create_datetime %></td>
    <td><%= edit_datetime || '' %></td>
    <td><%= remark || '' %></td>
    <td>
        <a class="itemDetailQuery" href="javascript:;">详细</a>
    </td>
</tr>
</tbody>