<tbody class="itemRow">
<tr>
    <td rowspan="2"><%= account %>(<%= nickname || '' %>#<%= id %>)</td>
    <td>
        <% roleList.forEach(function (t) { %>
        <a class="hover hover-source" href="#hoverTargetUserRole_<%= id + '_' + t.code %>">
            <div class="label <%= t.status == 1 ? 'label-info' : 'label-default' %> my-label">
                <label><%= t.code %></label>
            </div>
        </a>

        <div class="hover hover-target" id="hoverTargetUserRole_<%= id + '_' + t.code %>">
            <div class="hover-role-authority">
                <% t.authorityList.forEach(function (authority) { %>
                <div class="label <%= authority.status == 1 ? 'label-info' : 'label-default' %> my-label">
                    <label><%= authority.code %></label>
                </div>
                <% }); %>
            </div>
        </div>
        <% }); %>
    </td>
    <td>
        <% authorityList.forEach(function (t) { %>
        <div class="label <%= t.status == 1 ? 'label-info' : 'label-default' %> my-label">
            <label><%= t.code %></label>
        </div>
        <% }); %>
    </td>
    <td rowspan="2"><%= createDate %></td>
    <td rowspan="2"><%= editDate || '' %></td>
    <td rowspan="2"><%= remark || '' %></td>
    <td rowspan="2">
        <p><a class="itemDetailQuery" href="javascript:;">修改</a></p>
        <p><a class="itemToDetail" href="javascript:;">详细</a></p>
    </td>
</tr>
<tr>
    <td colspan="2">
        <a href="javascript:;" class="toggle-auth">可用权限</a>
        <div class="hidden auth-box">
            <% for(var key in auth){ %>
            <div class="label label-info my-label">
                <label><%= key %></label>
            </div>
            <% } %>
        </div>
    </td>
</tr>
</tbody>