<tbody class="itemRow">
<tr>
    <td><%= account %>(<%= nickname || '' %>#<%= id %>)</td>
    <td><%= auth || '' %></td>
    <td><%= create_datetime %></td>
    <td><%= edit_datetime || '' %></td>
    <td><%= remark || '' %></td>
    <td>
        <a class="itemDetailQuery" href="javascript:;">详细</a>
    </td>
</tr>
</tbody>