<tbody class="itemRow">
<tr>
    <td><%= id %></td>
    <td><%= code %></td>
    <td><%= name %></td>
    <td>
        <% authorityList.forEach(function (t) { %>
        <div class="label <%= t.status == 1 ? 'label-info' : 'label-default' %> my-label">
            <label><%= t.code %></label>
        </div>
        <% }); %>
    </td>
    <td><%= status == 1 ? '启用' : '禁用' %></td>
    <td>
        <p><a class="itemDetailQuery" href="javascript:;">详细</a></p>
        <p><a class="itemStatusUpdate save" href="javascript:;"><%= status != 1 ? '启用' : '禁用' %></a></p>
    </td>
</tr>
</tbody>