<% include _public/header %>
<table class="table table-bordered">
    <thead>
        <tr>
            <%var count = 2;
            for(var i = 0;i < count;i++){
            %>
            <td>url</td>
            <td>method</td>
            <td>data</td>
            <%}%>
        </tr>
    </thead>
    <tbody>
    <%
    for(var restIndex = 0; restIndex < restList.length;){
    %>
        <tr>
    <%
        for(var i = 0;i < count && restIndex < restList.length;i++,restIndex++){
            var t = restList[restIndex];
            %>
            <td><a data-index="<%=restIndex%>" name="url" href="<%= t.method == 'post' ? 'javascript:;' : t.exampleRequest || t.url %>"
                        <%= t.method == 'post' ? '' : 'target=_blank' %>
                   data-url="<%= t.url %>"
                   data-method="<%= t.method %>"
                   data-req="<%= t.method == 'post' && t.exampleRequest ? t.exampleRequest:'' %>">
                    <%= t.url %></a>
            </td>
            <td>[<%= t.method %>]</td>
            <td data-index="<%=restIndex%>">
                <textarea name="exampleRequest"><%= t.method == 'post' ? t.exampleRequest|| '': t.exampleRequest || t.url %>
                </textarea>
            </td>
        <%}%>
        </tr>
    <%}%>
    </tbody>
</table>
<% include _public/footer %>
<script type="text/javascript">
    $(function () {
        $(document).on('click', '[name=url]', function () {
            var dom = $(this);
            var row = dom.closest('tr');
            var index = dom.data('index');
            var req = $.trim(row.find('[data-index=' + index + '] [name=exampleRequest]').val());
            var method = dom.attr('data-method');
            var url = dom.attr('data-url');
            if(method == 'post') {
                if (!req) req = {};
                if (typeof req == 'string')
                    req = JSON.parse(req);
                var headers = {};
                if (url == '/login') {
                    var userInfo = $.cookie(config.cacheKey.userInfo);
                    if (!userInfo) {
                        userInfo = extend.guid();
                        $.cookie(config.cacheKey.userInfo, userInfo, {expires: 1});
                    }
                    var token = extend.createToken(req.userName + $.md5(req.pwd) + JSON.stringify(req));
                    headers = {
                        'User-Name': req.userName,
                        'Token': token,
                    };
                } else if (url == '/signUp') {
                    req.pwd = $.md5(req.pwd);
                }
                var reqStr = req;
                if (typeof reqStr != 'string');
                reqStr = JSON.stringify(reqStr);
                extend.ajax({
                    url: url,
                    data: reqStr,
                    headers: headers,
                }).then(function (t) {
                    console.log(t)
                }).fail(function (e) {
                    console.log(e)
                });
            }else if(method == 'get') {
                url = req || url;
                dom.attr('href', url);
            }
        });
    });
</script>
