<% include _public/header_with_nav %>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 sidebar">
            <%for(var i = 1; i < 4;i++){%>
                <div class="list-group">
                    <a class="list-group-item active" data-toggle="collapse" href="#menuItemList<%=i%>">
                        菜单<%=i%>
                    </a>
                    <div class="collapse in" id="menuItemList<%=i%>">
                        <a class="list-group-item tab" data-tab-target="home"  href="javascript:;">Home</a>
                        <a class="list-group-item tab" data-tab-target="index" data-url="/" href="javascript:;">Index</a>
                        <a class="list-group-item tab" data-tab-target="about"  href="javascript:;">About</a>
                    </div>
                </div>
            <%}%>
        </div>

        <div class="col-xs-10 col-sm-10 col-md-10 main">
            <ul class="nav nav-tabs" id="myTab"></ul>
            <div class="tab-content" id="myPanel">
                <div style="height: 512px" id="panel-home" class="tab-pane fade">
                    Home Page
                </div>
            </div>
        </div>
    </div>
</div>
<% include _public/footer_with_nav %>
<script src="/js/<%=env%>/my.tab.js?v=<%=version%>"></script>
<script type="text/javascript">
    $(function(){
        my.tab.init();
        var tabData = [{
            id:'tab-home',
            name:'Home',
            targetId:'panel-home'
        }];
        $('#myTab').append(my.tab.tabs(tabData));
        $('#tab-home').click();
    });
</script>