<% include _public/header %>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 sidebar">
            <%for(var i = 1; i < 4;i++){%>
                <div class="list-group">
                    <a class="list-group-item active" data-toggle="collapse" href="#menuItemList<%=i%>">
                        菜单<%=i%>
                    </a>
                    <div class="collapse in" id="menuItemList<%=i%>">
                        <a class="list-group-item tab" href="javascript:;" data-tab-target="home">Home</a>
                        <a class="list-group-item tab" href="javascript:;" data-tab-target="index" data-url="/">Index</a>
                        <a class="list-group-item tab" href="javascript:;" data-tab-target="status"  data-url="/status?noNav=true">Status</a>
                    </div>
                </div>
            <%}%>
        </div>

        <div class="col-xs-10 col-sm-10 col-md-10 main">
            <ul class="nav nav-tabs" id="myTab"></ul>
            <div class="tab-content" id="myPanel">
                <div style="height: 512px" id="panel-home" class="tab-pane fade">
                    Home Page
                    <div>
                        <div>
                            <button class="btn btn-default msgNotice" data-type="0">弹出提示</button>
                        </div>
                        <div>
                            <button class="btn btn-default msgNotice" data-type="1">弹出提示</button>
                            <label>no close<input type="checkbox" id="msgNoticeNoClose"/></label>
                            <select id="msgNoticeBtnCount">
                                <%for(var i = 1;i <= 10;i++){%>
                                    <option value="<%=i%>"><%=i%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include _public/footer %>
<script src="/js/<%=env%>/my.tab.js?v=<%=version%>"></script>
<script type="text/javascript">
    $(function(){
        my.tab.init();
        var tabData = [{
            id:'tab-home',
            name:'Home',
            targetId:'panel-home'
        }];
        $('#myTab').append(my.tab.tabs(tabData));
        $('#tab-home').click();
        var notice0;
        $('.msgNotice').on('click', function(){
            var dom = $(this);
            var type = dom.data('type');
            if(type == 0){
                if(notice0)
                    notice0.toggle();
                else
                    notice0 = extend.msgNotice({msg:'12333', target:'.msgNotice[data-type=0]'});
            }else if(type == 1){
                var msgNoticeBtnCount = parseInt($('#msgNoticeBtnCount').val());
                var btnOptList = [];
                for(var i = 1;i <= msgNoticeBtnCount;i++) {
                    btnOptList.push({
                        content:'按钮' + i,
                        cbOpt: i,
                        cb: function(opt){
                            console.log(opt);
                        }
                    });
                }
                extend.msgNotice({
                    msg: '12333',
                    type: 1,
                    noClose: $('#msgNoticeNoClose').prop('checked'),
                    btnOptList: btnOptList
                });
            }
        });
    });
</script>