<link rel="stylesheet" href="css/fileinput.min.css"/>
<link rel='stylesheet' href='/css/sidebar-nav.css'/>
<style>
    .hamburger {
        top: auto
    }

    .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom,
    .hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .content {
        background-color: #ffffff;
        border: 1px solid #47a8ef;
        width: 100px;
        height: 100px;
    }

    .main {
        margin-top: 35px;
    }
</style>
<div class="container-fluid">
    <div class="row" id="wrapper">
        <% var menuList = [{
            text: 'main content menu',
            listId: '',
            childs: [{
                text: 'main content',
                tab: {
                    target: 'mainContent',
                    name: 'main content list'
                },
                tabUrl: '/mainContent/list',
            }, {
                text: 'main content type',
                tab: {
                    target: 'mainContentType',
                    name: 'main content type list'
                },
                tabUrl: '/mainContentType/list',
            },]
        }, {
            text: 'user',
            listId: '',
            auth: ['login'],
            childs: [{
                text: 'user info',
                tab: {
                    target: 'userInfoDetail',
                    name: 'userInfo detail'
                },
                tabUrl: '/userInfo/detail',
            }, {
                text: 'user info list',
                tab: {
                    target: 'userInfoList',
                    name: 'userInfo list'
                },
                tabUrl: '/userInfo/list',
            },]
        }, {
            text: 'admin',
            listId: '',
            auth: ['admin'],
            childs: [{
                text: 'role',
                tab: {
                    target: 'role',
                    name: 'role list'
                },
                tabUrl: '/role/list',
            }, {
                text: 'authority',
                tab: {
                    target: 'authority',
                    name: 'authority list'
                },
                tabUrl: '/authority/list',
            },]
        }, {
            text: '菜单Test',
            listId: 'menuItemListTest',
            auth: ['dev'],
            childs: [{
                text: 'Help',
                tab: {
                    target: 'help',
                },
                tabUrl: '/help',
            }, {
                text: 'Log',
                tab: {
                    target: 'log',
                },
                tabUrl: '/log',
            }, {
                text: '在线用户',
                tab: {
                    target: 'onlineUser',
                },
                tabUrl: '/onlineUser',
            }, {
                text: 'Status',
                tab: {
                    target: 'status',
                },
                tabUrl: '/status',
            }, {
                text: 'Color',
                tab: {
                    target: 'color',
                },
                tabUrl: '/color',
            }, {
                text: '比较文本',
                tab: {
                    target: 'textDiff',
                },
                tabUrl: '/textDiff',
            }, {
                text: 'test',
                tab: {
                    target: 'test',
                    content: 'testTemplate',
                    type: 'template'
                },
                auth: ['dev', 'login']
            },]
        },];
        %>

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul id="menu" class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                    </a>
                </li>
                <li class="dropdown">
                    <a id="menuSearchBtn" href="#searchResult" class="dropdown-toggle" data-toggle="collapse">
                        search
                    </a>
                    <input id="menuSearch" class="form-control" placeholder="search"/>
                    <ul id="searchResult" class="dropdown-toggle menu collapse in" role="menu">
                    </ul>
                </li>
                <%
                menuList.forEach(function(t){
                    if (t.auth && !isHadAuthority(t.auth))
                        return;
                    var childs = [];
                    t.childs.forEach(function (child) {
                        if (child.auth && !isHadAuthority(child.auth))
                            return;
                        if (child.tabUrl && !accessableUrl[child.tabUrl])
                            return;
                        childs.push(child);
                    });
                    if (!childs.length)
                        return;
                    if (!t.listId)
                        t.listId = 'menuId' + new Date().getTime() + '_' + parseInt(Math.random() * 100);
                %>
                <hr>
                <li class="dropdown">
                    <a href="#<%= t.listId %>" class="dropdown-toggle" data-toggle="collapse">
                        <i class="fa fa-fw fa-plus"></i><%= t.text %>
                    </a>
                    <ul id="<%= t.listId %>" class="dropdown-toggle menu collapse in" role="menu">
                        <% childs.forEach(function(child){
                            if (!child.tab)
                                child.tab = {}; %>
                        <li><a class="tab menuItem" href="javascript:;"
                                    <% if(child.tabUrl){ %>
                               data-tab-content="<%= child.tabUrl + (child.tabUrlArgs || '?noNav=true') %>"
                               data-url="<%= child.tabUrl + (child.tabUrlArgs || '') %>"
                                    <% } %>
                                    <% for(var key in child.tab){
                                    if(child.tab[key]){ %>
                               data-tab-<%= key %>="<%= child.tab[key] %>"
                                    <% }
                                    } %>
                                    <%- child.attr || '' %>><%= child.text %>
                            </a></li>
                        <% }) %>
                    </ul>
                </li>
                <% }); %>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->
        <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <div class="main">
            <ul class="nav nav-tabs" id="myTab"></ul>
            <div class="tab-content" id="myPanel">
                <div style="height: 712px" id="panel-home" class="tab-pane fade">
                    Home Page
                    <div class="my-row">
                        <p>Welcome to <%= title %></p>
                        <a class="hover hover-source" href="#hoverTest">hover</a>

                        <div class="hover hover-target" id="hoverTest">
                            <div class="content"></div>
                        </div>
                        <a class="hover hover-source" href="#hoverTest">hover</a>

                        <div class="row">
                            <div class="my-row col-xs-6">
                                <div>
                                    <button class="btn btn-default msgNotice" data-type="0">弹出提示</button>
                                </div>
                                <div>
                                    <button class="btn btn-default msgNotice" data-type="1">弹出提示</button>
                                    <label>no close<input type="checkbox" id="msgNoticeNoClose"/></label>
                                    <select id="msgNoticeBtnCount">
                                        <% for(var i = 1;i <= 10;i++){ %>
                                        <option value="<%= i %>"><%= i %></option>
                                        <% } %>
                                    </select>
                                </div>
                                <div>
                                    <input id="autocomplete" class="form-control"/>
                                </div>
                                <div>
                                    <button id="countdownBtn" class="btn btn-default">倒计时按钮</button>
                                </div>
                                <div>
                                    <span id="countdown"></span>
                                </div>
                                <div>
                                    <span id="countdown2"></span>
                                </div>
                            </div>
                            <div class="my-row col-xs-6">
                                <div class="form-inline">
                                    <input type="text" id="msg" class="form-control"/>
                                    <input id="postMsg" type="button" class="btn btn-default" value="发送"/>
                                </div>
                                <div class=" panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">message</h3>
                                    </div>
                                    <div id="msgBox">
                                    </div>
                                </div>
                            </div>
                            <div class="my-row col-xs-12">
                                <input name="upfile" id="upfile" type="file"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/<%= env %>/my.tab.js?v=<%= version %>"></script>
<script type="text/template" id="testTemplate">
    <div>
        test
    </div>
</script>

<script type="text/template" id="msgItem">
    <% include ../_template_web/msgItem %>
</script>
<script src="js/plugins/fileinput.min.js"></script>
<script src="js/<%= env %>/index.js?v=<%= version %>"></script>
<script type="text/javascript">
    $(function () {
        index.init();
    });
</script>