<link href="css/fileinput.min.css" rel="stylesheet"/>
<style>
    .content {
        background-color: #ffffff;
        border: 1px solid #47a8ef;
        width: 100px;
        height: 100px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 sidebar">
            <% var menuList = [{
                text: 'main content menu',
                listId: '',
                childs: [{
                    text: 'main content',
                    tab: {
                        target: 'mainContent',
                        name: 'main content list'
                    },
                    tabUrl: '/mainContent/list',
                }, {
                    text: 'main content type',
                    tab: {
                        target: 'mainContentType',
                        name: 'main content type list'
                    },
                    tabUrl: '/mainContentType/list',
                },]
            }, {
                text: 'user',
                listId: '',
                auth: ['login'],
                childs: [{
                    text: 'user info',
                    tab: {
                        target: 'userInfoDetail',
                        name: 'userInfo detail'
                    },
                    tabUrl: '/userInfo/detail',
                },]
            }, {
                text: '菜单Test',
                listId: 'menuItemListTest',
                childs: [{
                    text: 'Home',
                    tab: {
                        target: 'home'
                    },
                }, {
                    text: 'Help',
                    tab: {
                        target: 'help',
                    },
                    tabUrl: '/help',
                }, {
                    text: 'Log',
                    tab: {
                        target: 'log',
                    },
                    tabUrl: '/log',
                }, {
                    text: 'Status',
                    tab: {
                        target: 'status',
                    },
                    tabUrl: '/status',
                }, {
                    text: 'Color',
                    tab: {
                        target: 'color',
                    },
                    tabUrl: '/color',
                }, {
                    text: 'test',
                    tab: {
                        target: 'test',
                        content: 'testTemplate',
                        type: 'template'
                    },
                    auth: ['dev', 'login']
                },]
            },];
            %>
            <div class="list-group">
                <%
                menuList.forEach(function(t){
                    if (t.auth && !isHadAuthority(user, t.auth))
                        return;
                    if (!t.listId)
                        t.listId = 'menuId' + new Date().getTime();
                %>
                <a class="list-group-item active" data-toggle="collapse" href="#<%= t.listId %>">
                    <%= t.text %>
                </a>

                <div class="collapse in" id="<%= t.listId %>">
                    <% t.childs.forEach(function(child){
                        if (child.auth && !isHadAuthority(user, child.auth))
                            return;
                        if (child.tabUrl && !accessableUrl[child.tabUrl])
                            return;
                        if (!child.tab)
                            child.tab = {}; %>
                    <a class="list-group-item tab" href="javascript:;"
                            <% if(child.tabUrl){ %>
                       data-tab-content="<%= child.tabUrl + (child.tabUrlArgs || '?noNav=true') %>"
                            <% } %>
                            <% for(var key in child.tab){
                            if(child.tab[key]){ %>
                       data-tab-<%= key %>="<%= child.tab[key] %>"
                            <% }
                            } %>
                            <%- child.attr || '' %>><%= child.text %></a>
                    <% }) %>
                </div>
                <% }); %>
            </div>
        </div>

        <div class="col-xs-10 col-sm-10 col-md-10 main">
            <ul class="nav nav-tabs" id="myTab"></ul>
            <div class="tab-content" id="myPanel">
                <div style="height: 512px" id="panel-home" class="tab-pane fade">
                    <h1><%= title %></h1>
                    Home Page
                    <div class="my-row">
                        <p>Welcome to <%= title %></p>
                        <a class="hover hover-source" href="#hoverTest">hover</a>

                        <div class="hover hover-target" id="hoverTest">
                            <div class="content" class="fill_main"></div>
                        </div>
                        <a class="hover hover-source" href="#hoverTest">hover</a>

                        <div class="row">
                            <div class="my-row col-xs-6">
                                <div>
                                    <button class="btn btn-default msgNotice" data-type="0">弹出提示</button>
                                </div>
                                <div>
                                    <button class="btn btn-default msgNotice" data-type="1">弹出提示</button>
                                    <label>no close<input type="checkbox" id="msgNoticeNoClose"/></label>
                                    <select id="msgNoticeBtnCount">
                                        <% for(var i = 1;i <= 10;i++){ %>
                                        <option value="<%= i %>"><%= i %></option>
                                        <% } %>
                                    </select>
                                </div>
                                <div>
                                    <input id="autocomplete" class="form-control"/>
                                </div>
                                <div>
                                    <span id="countdown"></span>
                                </div>
                                <div>
                                    <span id="countdown2"></span>
                                </div>
                            </div>
                            <div class="my-row col-xs-6">
                                <form method="post" action="/interface/upload" enctype="multipart/form-data">
                                    <input name="upfile" id="upfile" type="file"/>
                                    <!--<div class="col-md-6">-->
                                    <!--<input type="submit" value="提交" class="btn btn-default"/>-->
                                    <!--</div>-->
                                </form>
                                <div class="form-inline">
                                    <input type="text" id="msg" class="form-control"/>
                                    <input id="postMsg" type="button" class="btn btn-default" value="发送"/>
                                </div>
                                <div class=" panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">message</h3>
                                    </div>
                                    <div id="msgBox">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/<%= env %>/my.tab.js?v=<%= version %>"></script>
<script type="text/template" id="testTemplate">
    <div>
        test
    </div>
</script>

<script type="text/template" id="msgItem">
    <% include ../_template_web/msgItem %>
</script>
<script src="js/plugins/fileinput.min.js"></script>
<script src="js/<%= env %>/index.js?v=<%= version %>"></script>
<script type="text/javascript">
    $(function () {
        index.init();
    });
</script>