<div class="container">
    <% var rowItemClass = 'col-lg-3 col-md-4 col-sm-6 col-xs-12';%>
    <div class="form-group">
        <div class="row my-row">
            <%
            var prefix = '';
            var searchItemList = [{
                text: 'id',
                id:'id',
            },{
                text: 'type',
                id:'type',
            },{
                text: 'type_name',
                id:'type_name',
            },{
                text: 'parent_type',
                id:'parent_type',
            },{
                text: 'level',
                id:'level',
            },];
            for(var i = 0;i< searchItemList.length;i++){
                var item = searchItemList[i];
            %>
            <div class="<%=rowItemClass%>">
                <div class="input-group">
                    <span class="input-group-addon"><%=item.text%></span>
                    <input id="<%=prefix + item.id%>" type="text" class="form-control" />
                </div>
            </div>
            <%}%>
        </div>
        <div class="row my-row">
            <div class="<%=rowItemClass%> col-lg-offset-6 col-md-offset-4">
                <button id="search" class="btn btn-default btn-block">
                    search
                </button>
            </div>
            <div class="<%=rowItemClass%>">
                <button class="btn btn-default btn-block add">
                    add
                </button>
            </div>
        </div>
    </div>
    <table id="list" class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center" colspan="100">mainContentType</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>id</th><th>type</th><th>type_name</th>
                <th>parent_type</th><th>level</th><th>操作</th>
            </tr>
        </tbody>
        <tbody class="error">
            <tr><td class="text-center" colspan="100" name="errorContent"></td></tr>
        </tbody>
    </table>
    <div id="pager"></div>

    <div>
        <a id="tree" href="javascript:;">tree</a>
        <div>
            <span>root</span>
            <ul class="tree" id="treeList">
            </ul>
            <span>not in root</span>
            <ul class="tree" id="notInRootTreeList">
            </ul>
        </div>
    </div>
</div>
<div id="mainContentTypeSave" data-backdrop="false" role="dialog" tabindex="-1" class="modal fade" style="z-index: 1040">
    <div class="modal-dialog" style="top:100px">
        <div class="modal-content">
            <div class="modal-body">
                <button class="close" type="button" data-dismiss="modal">
                    ×
                </button>
                <h4 name="title" class="modal-title">
                </h4>
            </div>
            <div id="detailContainer" class="modal-body">
            </div>
            <div name="footer" class="modal-body">
                <button name="accept" style="margin: 0 5px" name="btnContent" type="button" class="btn btn-default save">确认</button>
                <button name="cancel" style="margin: 0 5px" name="btnContent" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<script type="text/template" id="mainContentTypeSaveTemp">
    <% include ../_template_web/mainContentTypeSaveContent%>
</script>
<script type="text/template" id="mainContentTypeItem">
    <% include ../_template_web/mainContentTypeItem%>
</script>
<script type="text/template" id="mainContentTypeTreeItem">
    <% include ../_template_web/mainContentTypeTreeItem%>
</script>
<script type="text/javascript" src="/js/<%=env%>/my.pager.js?v=<%=version%>"></script>
<script type="text/javascript" src="/js/<%=env%>/module.js?v=<%=version%>"></script>
<script type="text/javascript" src="/js/<%=env%>/moduleMainContentType.js?v=<%=version%>"></script>
<script type="text/javascript">
    $(function () {
        var mainContentType = moduleMainContentType.init();
    });
</script>