<div class="container">
    <div class="form-group">
        <% var rowItemClass = 'col-lg-3 col-md-4 col-sm-6 col-xs-12';%>
        <div class="row my-row">
            <div class="<%=rowItemClass%> col-lg-offset-6 col-md-offset-4">
                <button id="search" class="btn btn-default btn-block">
                    search
                </button>
            </div>
            <div class="<%=rowItemClass%>">
                <button id="add" class="btn btn-default btn-block">
                    add
                </button>
            </div>
        </div>
    </div>
    <table id="list" class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center" colspan="100">mainContentType</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>id</th><th>type</th><th>type_name</th>
                <th>parent_type</th><th>level</th><th>操作</th>
            </tr>
        </tbody>
        <tbody class="error hidden">
            <tr><td class="text-center" colspan="100" id="msg" name="errorContent"></td></tr>
        </tbody>
    </table>
    <div id="pager"></div>
</div>
<div id="mainContentTypeSave" data-backdrop="false" role="dialog" tabindex="-1" class="modal fade" style="z-index: 1040">
    <div class="modal-dialog" style="top:100px">
        <div class="modal-content">
            <div class="modal-body">
                <button class="close" type="button" data-dismiss="modal">
                    ×
                </button>
                <h4 name="title" class="modal-title">
                </h4>
            </div>
            <div id="detailContainer" class="modal-body">
            </div>
            <div name="footer" class="modal-body">
                <button name="accept" style="margin: 0 5px" name="btnContent" type="button" class="btn btn-default" id="save">确认</button>
                <button name="cancel" style="margin: 0 5px" name="btnContent" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<script type="text/template" id="mainContentTypeSaveTemplate">
    <% include ../_template_web/mainContentTypeSaveTemplate%>
</script>
<script type="text/template" id="mainContentTypeItem">
    <% include ../_template_web/mainContentTypeItem%>
</script>
<script type="text/javascript" src="/js/<%=env%>/my.pager.js?v=<%=version%>"></script>
<script type="text/javascript" src="/js/<%=env%>/module.js?v=<%=version%>"></script>
<script type="text/javascript">
    $(function () {
        var opt = {
            operation: ['query', 'detail', 'save'],
            queryId: 'search',
            queryItemTempId: 'mainContentTypeItem',
            queryContainerId: 'list',

            detailContainerId: 'detailContainer',
            detailTempId: 'mainContentTypeSaveTemplate',

            saveId: 'save',
            saveDefaultModel: {
                id: 0,
                type: '',
                type_name: '',
                parent_type: '',
                level: 0
            },
            addId: 'add',

            rowClass: 'itemRow',
            editClass: 'itemEdit',
            interfacePrefix: 'mainContentType',
            afterEdit: function (item) {
                $('#mainContentTypeSave [name=title]').html(item.id ? ('修改:' + item.id) : '新增');
                $('#mainContentTypeSave').modal('show');
            },
            beforeSave:function(){
                var list = [{
                    name: 'id',
                    dom: $('#mainContentTypeSave [name=id]'),
                }, {
                    name: 'type',
                    dom: $('#mainContentTypeSave [name=type]'),
                    canNotNull: true,
                }, {
                    name: 'type_name',
                    dom: $('#mainContentTypeSave [name=type_name]'),
                }, {
                    name: 'parent_type',
                    dom: $('#mainContentTypeSave [name=parent_type]'),
                }, {
                    name: 'level',
                    dom: $('#mainContentTypeSave [name=level]'),
                }];
                var checkRes = extend.dataCheck({list: list});
                return checkRes;
            },
            onSaveSuccess: function(t){
                extend.msgNotice({
                    type: 1, msg: '保存成功:' + t,
                    btnOptList: [{
                        content: '继续'
                    }, {
                        content: '关闭', cb: function () {
                            $('#mainContentTypeSave').modal('hide');
                        }
                    }]
                });
                moduleMainContentType.pager.refresh();
            }
        };
        var moduleMainContentType = new module(opt);
    });
</script>