<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 sidebar">
            <% var menuList = [{
                        text: '菜单Test',
                        listId: 'menuItemListTest',
                        childs: [{
                            text: 'Home',
                            tab:{
                              target:'home'
                            },
                        }, {
                            text: 'Index',
                            tab:{
                                target:'index',
                                content:'/?noNav=true'
                            },
                        }, {
                            text: 'Help',
                            tab:{
                                target:'help',
                                content:'/help?noNav=true'
                            },
                        }, {
                            text: 'Log',
                            tab:{
                                target:'log',
                                content:'/log?noNav=true'
                            },
                        }, {
                            text: 'test',
                            tab:{
                                target:'test',
                                content:'testTemplate',
                                type:'template'
                            },
                        },]
                    }, {
                        text: 'main content menu',
                        listId: '',
                        childs: [{
                            text: 'main content type',
                            tab:{
                                target:'mainContentType',
                                content:'/mainContentType?noNav=true',
                                name:'main content type list'
                            },
                        },]
                    }];
            menuList.forEach(function(t){
                if (!t.listId)
                    t.listId = 'menuId' + new Date().getTime();

            %>
            <div class="list-group">
                <a class="list-group-item active" data-toggle="collapse" href="#<%= t.listId %>">
                    <%= t.text %>
                </a>

                <div class="collapse in" id="<%= t.listId %>">
                    <% t.childs.forEach(function(child){
                        if(!child.tab)
                            child.tab = {};%>
                    <a class="list-group-item tab" href="javascript:;"
                            <%for(var key in child.tab){
                                if(child.tab[key]){%>
                            data-tab-<%=key%>="<%=child.tab[key]%>"
                            <%}
                            }%>
                        <%- child.attr || '' %>><%= child.text %></a>
                    <% }) %>
                </div>
            </div>
            <% }); %>
        </div>

        <div class="col-xs-10 col-sm-10 col-md-10 main">
            <ul class="nav nav-tabs" id="myTab"></ul>
            <div class="tab-content" id="myPanel">
                <div style="height: 512px" id="panel-home" class="tab-pane fade">
                    Home Page
                    <div>
                        <div>
                            <button class="btn btn-default msgNotice" data-type="0">弹出提示</button>
                        </div>
                        <div>
                            <button class="btn btn-default msgNotice" data-type="1">弹出提示</button>
                            <label>no close<input type="checkbox" id="msgNoticeNoClose"/></label>
                            <select id="msgNoticeBtnCount">
                                <% for(var i = 1;i <= 10;i++){ %>
                                <option value="<%= i %>"><%= i %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/<%= env %>/my.tab.js?v=<%= version %>"></script>
<script type="text/template" id="testTemplate">
    <div>
        test
    </div>
</script>
<script type="text/javascript">
    $(function () {
        my.tab.init();
        var tabData = [{
            id: 'tab-home',
            name: 'Home',
            targetId: 'panel-home',
        }];
        $('#myTab').append(my.tab.tabs(tabData));

        var tabPanelData = [{
            type: 'template',
            id: 'panel-test',
            content: 'testTemplate'
        }];
        $('#myPanel').append(my.tab.panels(tabPanelData));

        $('#tab-home').click();
        var notice0;
        $('.msgNotice').on('click', function () {
            var dom = $(this);
            var type = dom.data('type');
            if (type == 0) {
                if (notice0)
                    notice0.toggle();
                else
                    notice0 = extend.msgNotice({msg: '12333', target: '.msgNotice[data-type=0]'});
            } else if (type == 1) {
                var msgNoticeBtnCount = parseInt($('#msgNoticeBtnCount').val());
                var btnOptList = [];
                for (var i = 1; i <= msgNoticeBtnCount; i++) {
                    btnOptList.push({
                        content: '按钮' + i,
                        cbOpt: i,
                        cb: function (opt) {
                            console.log(opt);
                        }
                    });
                }
                extend.msgNotice({
                    msg: '12333',
                    type: 1,
                    noClose: $('#msgNoticeNoClose').prop('checked'),
                    btnOptList: btnOptList
                });
            }
        });
    });
</script>