<div class="container">
    <form class="form-horizontal">
        <%
        var user_info = userInfoDetail.user_info;
        var list = [{
            content: '用户名',
            readOnly: true,
            value: user_info.account,
            attr: 'id="account"'
        }, {
            content: '注册时间',
            readOnly: true,
            value: user_info.create_datetime,
            attr: 'id="create_datetime"'
        }, {
            content: '最后修改时间',
            readOnly: true,
            value: user_info.edit_datetime,
            attr: 'id="edit_datetime"'
        }, {
            content: '昵称',
            value: user_info.nickname,
            attr: 'id="nickname" placeholder="请输昵称"'
        }, {
            content: '密码',
            attr: 'id="password" placeholder="不修改密码不用输入" type="password"'
        }, {
            content: '新密码',
            attr: 'id="newPassword" placeholder="不修改密码不用输入" type="password"'
        }, {
            content: '再次输入新密码',
            attr: 'id="newPasswordRepeat" placeholder="不修改密码不用输入" type="password"'
        },];
        list.forEach(function (item) {
        %>
        <div class="form-group">
            <label class="col-sm-2 control-label"><%= item.content %></label>

            <div class="col-sm-8">
                <% if(item.readOnly){ %>
                <label class="control-label">
                    <%= item.value %>
                </label>
                <% } else{ %>
                <input class="form-control" <%- item.attr %> value="<%= item.value %>">
                <% } %>
            </div>
        </div>
        <% }); %>
        <div class="form-group">
            <div class="col-sm-8 col-sm-push-2">
                <button id="save" type="button" class="btn btn-default btn-block">修改</button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-xs-9 col-xs-push-1 my-row">
            <label class="control-label">权限</label>
            <% for(var key in userInfoDetail.auth){
                var model = {
                    id: 0,
                    code: key,
                }
                with(model){
            %>
                    <%include ../../_template/authorityLabel%>
            <% }
            }%>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9 col-xs-push-1">
            <label class="control-label">日志</label>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>内容</th>
                    <th>创建时间</th>
                </tr>
                </thead>

                <% userInfoDetail.user_info_log.forEach(function(item){ %>
                <tr>
                    <td><%= item.content %></td>
                    <td><%= item.create_date %></td>
                </tr>
                <% }); %>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/<%= env %>/userInfo.js?v=<%= version %>"></script>
<script type="text/javascript">
    $(function () {
        userInfo.init();
    });
</script>