<div class="container">
    <form class="form-horizontal">
        <%
        var userInfo = userInfoDetail.userInfo;
        var isReadOnly = user.id != userInfo.id;
        var list = [{
            content: '用户名',
            readOnly: true,
            value: userInfo.account,
            attr: 'id="account"'
        }, {
            content: '注册时间',
            readOnly: true,
            value: userInfo.createDate,
            attr: 'id="createDate"'
        }, {
            content: '最后修改时间',
            readOnly: true,
            value: userInfo.editDate,
            attr: 'id="editDate"'
        }, {
            content: '昵称',
            value: userInfo.nickname,
            readOnly: isReadOnly,
            attr: 'id="nickname" placeholder="请输昵称"'
        },];
        var col1Class = 'col-xs-3 col-sm-2',
            col2Class = 'col-xs-9 col-sm-8';
        if (!isReadOnly) {
            list = list.concat([{
                content: '密码',
                attr: 'id="password" placeholder="不修改密码不用输入" type="password"'
            }, {
                content: '新密码',
                attr: 'id="newPassword" placeholder="不修改密码不用输入" type="password"'
            }, {
                content: '再次输入新密码',
                attr: 'id="newPasswordRepeat" placeholder="不修改密码不用输入" type="password"'
            },]);
        }
        list.forEach(function (item) {
        %>
        <div class="form-group">
            <label class="<%=col1Class%> control-label"><%= item.content %></label>

            <div class="<%=col2Class%>">
                <% if(item.readOnly){ %>
                <label class="control-label">
                    <%= item.value %>
                </label>
                <% } else{ %>
                <input class="form-control" <%- item.attr %> value="<%= item.value %>">
                <% } %>
            </div>
        </div>
        <% }); %>
        <div class="form-group">
            <% if(!isReadOnly){ %>
            <div class="<%=col2Class%> col-xs-push-3 col-sm-push-2">
                <button type="button" class="btn btn-default btn-block save">修改</button>
            </div>
            <% } %>
        </div>
    </form>

    <%var rowClass='col-sm-9 col-sm-push-1 my-row'%>
    <div class="row">
        <div class="<%=rowClass%>">
            <label class="control-label">角色</label>
            <% userInfoDetail.roleList.forEach(function(item){
                item.id = 0;
                    with(item){
            %>
            <a class="hover hover-source" href="#hoverTargetRole_<%= item.code %>">
                <% include ../../_template/roleLabel %>
            </a>

            <div class="hover hover-target" id="hoverTargetRole_<%= item.code %>">
                <div class="hover-role-authority">
                    <%
                    item.authorityList.forEach(function (authority) {
                        authority.id = 0;
                            with(authority){ %>
                    <% include ../../_template/authorityLabel %>
                    <% }
                    }); %>
                </div>
            </div>
            <% }
            } ); %>
        </div>
    </div>
    <div class="row">
        <div class="<%=rowClass%>">
            <label class="control-label">权限</label>
            <% userInfoDetail.authorityList.forEach(function(item){
                item.id = 0;
                    with(item){
            %>
            <% include ../../_template/authorityLabel %>
            <% }
            } ); %>
        </div>
    </div>
    <div class="row">
        <div class="<%=rowClass%>">
            <label class="control-label">可用权限</label>
            <% for(var key in userInfoDetail.auth){
                var item = {
                    id: 0,
                    code: key,
                    status: 1
                }
                    with(item){
            %>
            <% include ../../_template/authorityLabel %>
            <% }
            } %>
        </div>
    </div>
    <div class="row">
        <div class="<%=rowClass%>">
            <label class="control-label">日志</label>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>内容</th>
                    <th>创建时间</th>
                </tr>
                </thead>

                <% userInfoDetail.userInfoLog.forEach(function(item){
                    if (item.type != 0 && !isHadAuthority('admin'))
                        return;
                %>
                <tr>
                    <td><%= item.content %></td>
                    <td><%= item.createDate %></td>
                </tr>
                <% }); %>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    require(['./_main', './moduleUserInfo'], function () {
        var main = require('./_main'),
	        moduleUserInfo = require('./moduleUserInfo');
        main.init();
        var opt = {
            operation: ['save']
        }
        new moduleUserInfo.ModuleUserInfo(opt);
    })
</script>