<tbody class="itemRow">
<tr>
    <td><%= id %></td>
    <td><%= typeName %></td>
    <td><%= struct %></td>
    <td><%= structName %></td>
    <td><%= parentStruct %></td>
    <td><%= level %></td>
    <td>
        <a class="itemDetailQuery" href="javascript:;">详细</a>
        <% if(common.isInArray('del', operation)){ %>
        <a class="itemDel" href="javascript:;">删除</a>
        <% } %>
    </td>
</tr>
</tbody>