<li class="itemRow">
    <a class="glyphicon glyphicon-plus itemAdd" href="javascript:;"></a>
    <a class="glyphicon glyphicon-pencil itemDetailQuery" href="javascript:;"></a>
    <% if(common.isInArray('del', operation)){ %>
    <a class="glyphicon glyphicon-remove itemDel" href="javascript:;"></a>
    <% } %>
    <a data-toggle="collapse" href=".child_<%= struct %>"><%= struct %>
        <% if(structName){ %>
        (<%= structName %>)
        <% } %>
        <%= '<' + typeName + '>'%>
        <% if(!inRoot){ %>
        [<%= parentStruct %>]
        <% } %>
    </a>
    <ul class="child child_<%= struct %> collapse in">
    </ul>
</li>