<% if(id == 0){ %>
<!--read only-->
<div class="label <%= status == 1 ? 'label-info' : 'label-default' %> my-label">
    <label><%= code %></label>
</div>
<% } else{ %>
<div name="<%= labelName %>" data-code="<%= code %>"
     data-change-status="<%= changeStatus %>"
     class="label <%= status == 1 ? 'label-info' : 'label-default' %> my-label">
    <label><%= code %>
        <button class="close" type="button">
            <span name="change" class="glyphicon glyphicon-ok glyphicon-remove"></span>
        </button>
    </label>
</div>
<% } %>