<tbody class="itemRow">
<tr>
    <th colspan="100">
        <div class="btn-group dropup itemToggle">
            <button class="btn btn-default"><span class="caret"></span></button>
        </div>
        <span><%=colNum%></span>
    </th>
</tr>
<tr>
    <td>
        <div class="itemConetnt">
            <table class="table table-bordered">
                <tr><th class="itemTitle">id</th><td><%=id%></td></tr>
                <tr><th>url</th><td><%=url%></td></tr>
                <tr><th>application</th><td><%=application%></td></tr>
                <tr><th>method</th><td><%=method%></td></tr>
                <tr><th>methodName</th><td><%=methodName%></td></tr>
                <tr><th>result</th><td><%=result%></td></tr>
                <tr><th>code</th><td><%=code%></td></tr>
                <tr><th>req</th><td><%=req%></td></tr>
                <tr><th>res</th><td><%=res%></td></tr>
                <tr><th>ip</th><td><%=ip%></td></tr>
                <tr><th>requestIp</th><td><%=requestIp%></td></tr>
                <tr><th>createDate</th><td><%=createDate%></td></tr>
                <tr><th>duration</th><td><%=duration%></td></tr>
                <tr><th>remark</th><td><%=remark%></td></tr>
                <tr><th>guid</th><td><%=guid%></td></tr>
            </table>
        </div>
    </td>
</tr>
</tbody>