<tr>
    <td><%=id%></td>
    <td><%=url%></td>
    <td><%=method%></td>
    <td><%=result%></td>
    <td><%=code%></td>
    <td><%=req%></td>
    <td><%=res%></td>
    <td><%=ip%></td>
    <td><%=create_date%></td>
    <td><%=remark%></td>
    <td><%=guid%></td>
</tr>