<tbody class="itemRow">
    <tr>
        <td><%=id%></td>
        <td><%=type%></td>
        <td><%=status%></td>
        <td><%=user_info_id%></td>
        <td><%=title%></td>>
        <td><%=desc%></td>
        <td><%=create_date%></td>
        <td><%=operate_date%></td>
        <td><%=operator%></td>
        <td>
            <a class="itemDetailQuery" href="javascript:;">详细</a>
            <a class="itemDel" href="javascript:;">删除</a>
        </td>
    </tr>
</tbody>