<div class="my-row">
    <div class="input-group">
        <span class="input-group-addon">id</span>
        <input type="text" class="form-control" disabled name="id" value="<%=id%>"/>
    </div>
    <div class="input-group">
        <span class="input-group-addon">type</span>
        <input type="text" class="form-control" name="type" value="<%=type%>"/>
    </div>
    <div class="input-group">
        <span class="input-group-addon">type_name</span>
        <input type="text" class="form-control" name="type_name" value="<%=type_name%>"/>
    </div>
    <div class="input-group">
        <span class="input-group-addon">parent_type</span>
        <input type="text" class="form-control" name="parent_type" value="<%=parent_type%>"/>
    </div>
    <div class="input-group">
        <span class="input-group-addon">level</span>
        <input type="text" class="form-control" name="level" value="<%=level%>"/>
    </div>
</div>