<div data-id="<%= user + msgId %>" class="chat-item panel-body <%= className %>">
    <span><%= userName %></span>
    <span><%= datetime %></span>

    <div class="item-content"><%= content %></div>
</div>