<div name="<%= labelName %>" data-code="<%= code %>"
     class="label <%= status == 1 ? 'label-info' : 'label-default' %> my-label">
    <label><%= code %>
        <button class="close" type="button" data-close-target="[name=<%= labelName %>][data-id=<%= id %>]">×</button>
    </label>
</div>