<table class="table table-bordered">
    <thead>
    <tr>
        <th><%=key%></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><span style="margin-left:43px">目状态</span><br>
            <span>源状态</span>
        </td>
        <%for(var enumKey in value){%>
        <td><%=enumKey%>(<%=value[enumKey]%>)</td>
        <%}%>
    </tr>

    <%for(var enumKeySrc in value){%>
    <tr>
        <td><%=enumKeySrc%>(<%=value[enumKeySrc]%>)</td>
        <%for(var enumKeyDest in value){%>
        <td>
            <%if(enumChangeDict[key] && enumChangeDict[key][enumKeySrc] && enumChangeDict[key][enumKeySrc][enumKeyDest]){%>
            <%=enumChangeDict[key][enumKeySrc][enumKeyDest]%>
            <%}else{%>
            -
            <%}%>
        </td>
        <%}%>
    </tr>
    <%}%>
    </tbody>
</table>