<tbody class="itemRow">
<tr>
    <td><%= id %></td>
    <td><%= account %></td>
    <td><%= nickname || '' %></td>
    <td><%= auth || '' %></td>
    <td><%= create_datetime %></td>
    <td><%= edit_datetime || '' %></td>
    <td><%= remark || '' %></td>
</tr>
</tbody>