<nav id="navTop" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:;"><%= siteName %></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <%
                var list = [{
                    text: 'Index',
                    url: '/'
                }];
                list.forEach(function(t, i){
                %>
                <li>
                    <a class="" href="<%= t.url || 'javascript:;' %>"><%= t.text %></a>
                </li>
                <%
                });
                %>
            </ul>
            <ul class="nav navbar-nav navbar-right nav-sign <%= user.id ? 'in' : '' %>">
                <li class="sign in">
                    <a class="nav-user-link" href="/userInfo/detail">
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="nav-nickname">
                            <%= user.nickname %>
                        </span>
                    </a>
                </li>
                <li class="sign in">
                    <a class="sign-out" href="javascript:;">注销</a>
                </li>
                <li class="sign out"><a href="/user/signUp">注册</a></li>
                <li class="sign out"><a class="sign-in" href="javascript:;">登录</a></li>
            </ul>
        </div>
    </div>
</nav>

<!--登录-->
<div id="signInBox" data-backdrop="false" role="dialog" tabindex="-1" class="modal fade pop-up-box">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-body">
                <button class="close" type="button" data-dismiss="modal">
                    ×
                </button>
                <h4 name="title" class="modal-title">
                    登录
                </h4>
            </div>
            <div class="modal-body">
                <%- include ../_template/signIn %>
            </div>
        </div>
    </div>
</div>