<tr class="itemRow" data-num="<%=num%>" data-item="<%=stringify%>">
    <td name="num"><%=num%></td>
    <td><%=type%></td>
    <td><%=content%></td>
    <td class="editable">
        <a href="javascript:;" class="itemEdit">修改</a>
        <a href="javascript:;" class="itemDel">删除</a>
        <a href="javascript:;" class="moveUp">上移</a>
        <a href="javascript:;" class="moveDown">下移</a>
    </td>
</tr>