<tbody class="itemRow">
<tr>
    <td><%= id %></td>
    <td><%= typeName %></td>
    <td><%= statusName %></td>
    <td>
        <span title="<%= account + '(' + nickname + '#' + userInfoId + ')' %>"><%= userInfo %></span>
    </td>
    <td><%= title %></td>
    <td><%= description %></td>
    <td><%= createDate %></td>
    <td><%= operateDate %></td>
    <td><%= operator %></td>
    <td>
        <a href="javascript:;" class="itemDetailQuery">详细</a>
        <% if(common.isInArray('del', operation)){ %>
        <a href="javascript:;" class="itemDel statusUpdate" data-id="<%= id %>" data-operate="del">删除</a>
        <% } %>
    </td>
</tr>
</tbody>