<div class="col-xs-12 itemRow">
    <div class="thumbnail">
        <div class="caption">
            <img style="display: none" alt="" src="">
            <div class="itemToDetail">
                <p>#<%= id %> <%= typeName %>(<%= statusName %>)</p>
                <h3><%= title %></h3>
                <p><%= description %></p>
                <p>
                    <span>创建:<%= userInfo %>/<%= createDate %></span>
                    <span>最后操作:<%= operator %>/<%= operateDate %></span>
                </p>
            </div>
            <div>
                <% var dict = {
                    submit: {
                        text: '提交',
                        operate: 'submit',
                        className: 'statusUpdate'
                    },
                    audit: {
                        text: '审核',
                        operate: 'audit',
                        className: 'statusUpdate'
                    },
                    pass: {
                        text: '审核通过',
                        operate: 'pass',
                        className: 'statusUpdate'
                    },
                    notPass: {
                        text: '审核不通过',
                        operate: 'notPass',
                        className: 'statusUpdate'
                    },
                    recovery: {
                        text: '恢复',
                        operate: 'recovery',
                        className: 'statusUpdate'
                    },
                    del: {
                        text: '删除',
                        operate: 'del',
                        className: 'statusUpdate'
                    }
                };
                        for (var operate of operation) {
                    var op = dict[operate];
                if (op) { %>
                <a href="javascript:;" class="itemDel <%= op.className %>" data-id="<%= id %>"
                   data-operate="<%= op.operate %>"
                   data-text="<%= op.text %>"><%= op.text %></a>
                <% }
                } %>
            </div>
        </div>
    </div>
</div>